*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
div{
    position: relative;
    border: 5px solid green;
    width:fit-content

}
button{ 
    border:0;
    position: absolute;
   width: 100px;
   height: 100px;
   top:50%;
   left:50%;
   border-radius: 100px;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmIAL1fNGRCf1Q-cSxv1GKqj6MPltLYqcUTg&usqp=CAU);
   background-size: 100px;
}

img{ 
    border:0;
    width: 400px;
    height: 600px;
   left: 30px;
   
}


